/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.crew {
	padding-block: 1.5rem;
	text-align: center;

	h3 {
		margin-top: 0;
	}

	.block-editor-inner-blocks {
		.block-editor-block-list__layout {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}
