/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.accordion-item {
	border-bottom: 2px solid var(--wp--preset--color--quaternary);

	.accordion-item-title {
		border-bottom: 1px solid var(--wp--preset--color--primary);
		font-size: 1.5rem;
		font-weight: 400;
		display: inline-block;
		transition: 0.3s ease;

		&:hover {
			border-bottom: 1px solid var(--wp--preset--color--secondary);
		}
	}

	.accordion-item-content-wrapper {
		background-color: var(--wp--preset--color--quaternary);
		padding: 2rem;
	}
}
