/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.services {
	text-align: center;

	.pretitle {
		color: var(--wp--preset--color--secondary);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	h2 {
		margin-top: 0;
	}

	.service-tab-titles {
		button {
			background: none;
			border: 0;
			border-bottom: 1px dashed #eee;
			color: var(--wp--preset--color--white);
			font-size: 1rem;
			margin: 0 1rem;
			padding: 0;
			transition: border-bottom 0.2s ease;

			&:hover {
				border-bottom: 1px solid var(--wp--preset--color--secondary);
				cursor: pointer;
			}
		}
	}

	.service-tab-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 140px;

		.service-tab-card {
			background-color: var(--wp--preset--color--quaternary);
			padding: 54px 60px;
			text-align: left;

			h3 {
				margin: 0;
			}

			.button {
				background-color: var(--wp--preset--color--secondary);
				color: var(--wp--preset--color--primary);
				border: none;
				border-radius: 50px;
				box-shadow: 0px 1px 20px transparent;
				font-size: 1rem;
				font-weight: 700;
				padding: 12px 32px;
				text-transform: uppercase;
				transition: all 0.2s ease;

				&:hover {
					box-shadow: 0px 1px 20px #3DDE9699;
					padding: 6px 32px 18px;
				}
			}
		}
	}
}
