/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.home-header {
	align-items: center; // Add option to change this
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 9rem;

	.left-col {
		padding-block: 7.5rem;
	}

	.right-col {
		height: 100%;

		.media-wrapper {
			height: 100%;
		}
	}

	.pretitle {
		color: var(--wp--preset--color--secondary);
		font-size: 1.125rem;
		font-weight: 700;
		margin: 0;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}

	.block-title {
		font-size: 2.813rem;
		line-height: 1.4;
		margin: 0;
	}

	.left-col {
		padding-right: 6rem;
	}

	.right-col {
		position: relative;

		.media-wrapper {
			overflow: hidden;
			position: relative;
		}

		img {
			height: 100%;
			object-fit: contain;
			object-position: center;
			width: 100%;
		}

		.image-btn {
			left: calc(50% - 55px);
			position: absolute;
			top: calc(50% - 18px);
			z-index: 1;
		}
	}
}
