/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.textmedia {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
	text-align: center;

	h4 {
		margin-top: 0;
	}

	.media-wrapper {
		aspect-ratio: 16 / 9;
		overflow: hidden;
		position: relative;

		.background-image-btn {
			position: absolute;
			top: calc(50% - 18px);
			left: calc(50% - 55px);
		}
	}
}
